<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MOM-E</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="detail.css" />
  </head>

  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
    <header>
      <img src="img/logo.png" alt="logo" />
      <div class="greetings">
        <p>
          <strong>김멋사</strong><small>님, 오늘도 즐겁게 학습하세요!</small>
        </p>
      </div>
    </header>
    <br /><br /><br /><br />
    <div class="banner">
      <div class="banner-card" style="width: 80rem">
        <h1>웹 퍼블리싱 - HTML & CSS 기초부터 응용까지</h1>
      </div>
    </div>
    <br /><br /><br /><br />

    <p class="class-tag">클래스 정보</p>
    <div class="card" style="width: 50rem">
      <div class="card-body">
        <p class="info">
          <strong>클래스명</strong>ㅤㅤㅤ웹 퍼블리싱-HTML&CSS 기초부터 응용까지
        </p>
        <p class="info">
          <strong>카테고리</strong>ㅤㅤㅤ<img src="img/programming-pill.png" />
        </p>
        <p class="info">
          <strong>일시</strong>ㅤㅤㅤㅤㅤ2022.07.29(금) 19:00~21:00<br />
          ㅤㅤㅤㅤㅤㅤㅤ2022.07.30(토) 18:00~20:00<br />
          ㅤㅤㅤㅤㅤㅤㅤ2022.07.31(일) 17:00~19:00<br />
        </p>
        <p class="info">
          <strong>장소</strong>ㅤㅤㅤㅤㅤ서울시 노원구 화랑로 621 서울여자대학교
          50주년기념관 602호
        </p>
        <p class="info"><strong>수강료</strong>ㅤㅤㅤㅤ무료</p>
      </div>
    </div>
    <br /><br /><br />

    <p class="class-tag">클래스 소개</p>
    <div class="card" style="width: 50rem">
      <div class="card-body2">
        본 클래스에서는 웹 페이지를 만들 때 기본적인 레이아웃과 외형을
        설계하면서 쓰이는<br />
        마크 업 언어인 <strong>HTML</strong>과 <strong>CSS</strong>를 학습하게
        됩니다.<br />
        코딩을 전혀 모르더라도 즐겁게 학습하실 수 있도록 <br /><br />
        이론 위주보다는 하나의 결과물을 만들어 나가면서 자연스럽게 공부해 나갈
        수 있는 <br />
        커리큘럼으로 구성되었답니다.
      </div>
    </div>
    <br /><br /><br />

    <div class="classbox">
      <div class="classdiv">
        <p class="class-tag">강사 정보</p>
        <div class="card" style="width: 35rem">
          <div class="card-body2">
            <div class="profile-box">
              <img src="img/profile.png" />
              <div class="name"><strong>이멋사</strong></div>

              <div class="company">
                전) N회사 프론트엔드 웹 개발자<br />
                전) K회사 커머스팀 PM<br />
                현) 프리랜서 웹 개발자
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="classdiv2">
        <p class="class-tag">클래스 관련 직무</p>
        <div class="card" style="width: 35rem">
          <div class="card-body2">
            <p><strong>이런 직무에 도움이 돼요.</strong></p>
            <div class="job">웹 디자이너</div>
            <div class="job">웹 퍼블리셔</div>
            <div class="job">프론트엔드 웹 개발자</div>
            <br />
            <div class="job">UI/UX 디자이너</div>
          </div>
        </div>
      </div>
    </div>

    <p class="class-tag">클래스 정보</p>
    <div class="classinfo">
      <div class="card" style="width: 60rem">
        <div class="card-body2">
          <p class="date">
            <strong>ㅤㅤㅤ2022.07.29ㅤㅤㅤㅤ</strong> HTML과 CSS 개념 이해하기
          </p>
          <p class="date">
            <strong>ㅤㅤㅤ2022.07.30ㅤㅤㅤㅤ</strong>자주 쓰이는 HTML 태그들과
            박스 모델의 이해 & 자주 쓰이는 CSS 속성들과 셀렉터의 이해
          </p>
          <p class="date">
            <strong>ㅤㅤㅤ2022.07.31ㅤㅤㅤㅤ</strong>CSS Flex & Grid 핵심만 짚기
            / 나만의 이력서 홈페이지 완성하기
          </p>
        </div>
      </div>
    </div>

    <br /><br /><br />

    <p class="class-tag">질의응답</p>
    <div class="qna" style="text-align: center">
      <div class="card" style="width: 55rem; float: left;">
        <input
          class="inputbox"
          placeholder="궁금한 점이 있다면 자유롭게 질문해보세요. 클래스 강사님께서 직접 답변해 주실 예정이랍니다."
          style="border: none; width: 100%"
        />
      </div>
      <div class="button" >
        <img src="img/submitbutton.png" ></img>
      </div>
      <br /><br /><br />
      <div class="card" style="width: 64rem;">
        <div class="card-body2">
          <p class="nickname"><strong>최멋사</strong>ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ2022.07.29 10:25</p>
          <div class="comment">안녕하세요. 개인 노트북을 지참해야 하나요?</div>
          <br/>
          <p class="big-nickname"><strong>이멋사ㅤ</strong><img src = "img/teacher.png"/>ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ2022.07.29 10:25</p>
          <div class="big-comment">반갑습니다. 실습용 PC가 준비되어 있어 별도로 지참하지 않으셔도 됩니다. ^^</div>

        </div>
      </div>
      <br/>
      <div class="card" style="width: 64rem;">
        <div class="card-body2">
          <p class="nickname"><strong>강멋사</strong>ㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤㅤ2022.07.29 09:10</p>
          <div class="comment">이전에 웹 디자이너로 근무하다가 퍼블리셔로 직무를 변경하려는데 본 클래스만으로도 도움이 될까요? </div>
        </div>
      </div>
    </div>
    

  </body>
</html>
