@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Rubik:wght@500&display=swap");
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

body {
  background: #ededed;
}

.greetings {
  text-align: right;
  font-size: 20px;
}

header {
  height: 150px;
  padding: 3rem;
  color: black;
  font-weight: bold;
  justify-content: space-between;
  align-items: center;
  font-family: "Rubik", sans-serif;
}

.banner {
  text-align: left;
  display: flex;
  justify-content: center;
  height: 10rem;
  width: 100%;
  font-family: "Do Hyeon", sans-serif;
}

.banner-card {
  text-align: left;
  padding: 3rem;
  font-weight: bold;
  color: white;
  background-color: black;
  font-family: "Do Hyeon", sans-serif;
  border-radius: 30px 30px 30px 30px;
}

.logoImg {
  width: 10%;
  height: 5%;
  margin-left: 12%;
  margin-top: 3%;
  top: 60px;
}

.header-text {
  display: flex;
  justify-content: center;
  width: 260px;
  height: 26px;
  left: 950px;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 26px;
  /* identical to box height */

  text-align: right;
  letter-spacing: -0.05em;

  /* Black */

  color: #000000;
}

.class {
  width: 70%;
  height: 15%;
  left: 323px;
  top: 155px;

  padding-left: 51px;
  padding-top: 50px;
  /* Black */

  background: #000000;
  border-radius: 25px;
  color: white;

  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 900;
  font-size: 28px;
  line-height: 41px;
  /* identical to box height */

  letter-spacing: -0.05em;

  /* White */

  color: #ffffff;
}

.detail-div {
  margin: 0 auto;
  position: absolute;
  width: 1274px;
  height: 2190px;
  left: 323px;
  top: 313px;
}

.class-tag {
  margin-left: 20%;
  margin-top: 3%;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 41px;

  letter-spacing: -0.05em;
  color: #000000;
}

.card {
  margin-left: 20%;
  border-radius: 25px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.05);
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;

  letter-spacing: -0.05em;
}

.card-body2 {
  padding: 20px;
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;

  letter-spacing: -0.05em;
}

.info {
  margin-left: 5%;
}

.profile-box {
  width: 100%;
  margin: 20px auto;
  display: flex;
}

.name {
  padding-left: 25px;
  display: flex;
  flex: 1;
}

.company {
  display: flex;
}

.job {
  padding: 1.5%;
  margin: 10px;
  float: left;
  border: solid #000000;
  border-width: 1px;
  border-radius: 35px;
  text-align: center;
}

.classbox {
  margin-left: 5%;
  display: flex;
}

.classdiv {
  float: left;
}

.classdiv2 {
  float: left;
  margin-left: 3%;
}

.classinfo {
  margin: 10px;
}

.inputbox {
  padding: 5%;
  border: 2px solid #000000;
  border-radius: 30px;
  display: inline-block;
}

.button {
  margin: 5px;
  float: left;
  cursor: pointer;
}

.classname {
  text-align: left;
}

.nickname {
  text-align: left;
  margin: 3%;
}

.comment {
  text-align: left;
  margin-left: 5%;
}

.big-nickname {
  text-align: left;
  margin-left: 6%;
}

.big-comment {
  text-align: left;
  margin-left: 7%;
}
