@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Rubik:wght@500&display=swap');

body {
    background: #EDEDED;
}

header {
    height: 40px;
    padding: 3rem;
    color: black;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    font-family: 'Rubik', sans-serif;
}

.login-buttons {
    text-align: right;
    font-size: 20px;
}

.home-banner {
    text-align: center;
    padding: 5%;
    display: flex;
    justify-content: center;
}

h2 {
    padding-left: 3rem;
    color: black;
    font-weight: bold;
    font-family: 'Do Hyeon', sans-serif;
}

p {
    font-weight: lighter;
    text-align: right;
    padding: 3rem;
}