<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOM-E</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <header>
      <img src="img/mome-logo.png" alt="logo">
            <div class="login-buttons">
                <span class="badge rounded-pill text-bg-light">로그인</span>
                <span class="badge rounded-pill text-bg-dark">회원가입</span>
            </div>
    </header>
    <div class="home-banner">
        <img src="img/home-banner.png" alt="home-banner">
    </div>
    <div class="recommendation-header">
        <h2>추천 클래스</h2>
        <div class="for_more"><p>더보기 ></p></div>
    </div>
    <div class="recommendation">
        <div class="recommendation-contents">
            <div class="contents-1">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="img/default_grey.png" class="img-fluid rounded-start" alt="contents-1">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">웹 퍼블리싱 - HTML & CSS 기초부터 응용까지</h5>
                          <img src="img/programming-pill.png" class="img-fluid rounded-start" alt="contents-1">
                          <p>
                            2022.07.29 ~ 2022.07.31ㅤㅤㅤ
                            <img src="img/detail-pill.png" class="img-fluid rounded-start" alt="contents-1">
                          </p>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="contents-2">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                      <div class="col-md-4">
                        <img src="img/default_grey.png" class="img-fluid rounded-start" alt="contents-1">
                      </div>
                      <div class="col-md-8">
                        <div class="card-body">
                          <h5 class="card-title">웹 퍼블리싱 - HTML & CSS 기초부터 응용까지</h5>
                          <img src="img/programming-pill.png" class="img-fluid rounded-start" alt="contents-1">
                          <p>2022.07.29 ~ 2022.07.31ㅤㅤㅤ
                            <img src="img/detail-pill.png" class="img-fluid rounded-start" alt="contents-1">
                          </p>
                        </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav>
      <select name="rank" class="select">
        <option value="popular">인기순</option>
        <option value="latest">최신순</option>
      </select>
        <ul class="nav-container">
           <li class="nav-name"><a href="">전체</a></li>
              <li class="nav-name"><a href="">마케팅</a></li>
           <li class="nav-name"><a href="">프로그래밍</a></li>
            <li class="nav-name"><a href="">크리에이티브</a></li>
              <li class="nav-name"><a href="">비즈니스</a></li>
              <li class="nav-name"><a href="">헤어/뷰티</a></li>
            </ul>
    </nav>
    <div class="contents-view">
            <div class="contents-row1">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                <div class="col">
                  <div class="card h-100">
                    <img src="img/default_grey2.png" class="card-img-top" alt="content1">
                    <div class="card-body">
                      <h5 class="card-title">웹 퍼블리싱 - HTML & CSS 기초부터 응용까지</h5>
                      <img src="img/programming-pill.png" class="img-fluid rounded-start" alt="contents-1"><br/><br/>
                      <p class="card-price">무료</p>
                      <p class="card-date">2022.07.29 ~ 2022.07.31</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="img/default_grey2.png" class="card-img-top" alt="content1">
                        <div class="card-body">
                          <h5 class="card-title">웹 퍼블리싱 - 반응형 웹 구현하기</h5>
                          <img src="img/programming-pill.png" class="img-fluid rounded-start" alt="contents-1"><br/><br/>
                          <p class="card-price">무료</p>
                          <p class="card-date">2022.08.05 ~ 2022.08.07</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card h-100">
                        <img src="img/default_grey2.png" class="card-img-top" alt="content1">
                        <div class="card-body">
                          <h5 class="card-title">웹 퍼블리싱 - 클론코딩을 통한 실전 접근 (1)</h5>
                          <img src="img/programming-pill.png" class="img-fluid rounded-start" alt="contents-1"><br/><br/>
                          <p class="card-price" style="color:red">유료</p>
                          <p class="card-date">2022.08.19 ~ 2022.08.21</p>
                        </div>
                    </div>
                </div>
              </div>
              <br/><br/><br/>
            <div class="contents row-2">
                <div class="contents-row1">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                          <div class="card h-100">
                            <img src="img/default_grey2.png" class="card-img-top" alt="content1">
                            <div class="card-body">
                              <h5 class="card-title">디지털 콘텐츠 마케팅 (1) - SNS 분석</h5>
                              <img src="img/marketing-pill.png" class="img-fluid rounded-start" alt="contents-1"><br/><br/>
                              <p class="card-price">무료</p>
                              <p class="card-date">2022.07.29 ~ 2022.07.31</p>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                              <img src="img/default_grey2.png" class="card-img-top" alt="content1">
                              <div class="card-body">
                                <h5 class="card-title">디지털 콘텐츠 마케팅 (2) - 브랜딩 기초 및 사례 분석</h5>
                                <img src="img/marketing-pill.png" class="img-fluid rounded-start" alt="contents-1"><br/><br/>
                                <p class="card-price">무료</p>
                                <p class="card-date">2022.08.05 ~ 2022.08.07</p>
                              </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img src="img/default_grey2.png" class="card-img-top" alt="content1">
                                <div class="card-body">
                                  <h5 class="card-title">디지털 콘텐츠 마케팅 (2) - 브랜딩 기초 및 사례 분석</h5>
                                  <img src="img/marketing-pill.png" class="img-fluid rounded-start" alt="contents-1">
                                  <img src="img/creative-pill.png" class="img-fluid rounded-start" alt="contents-1"><br/><br/>
                                  <p class="card-price">무료</p>
                                  <p class="card-date">2022.08.12 ~ 2022.08.17</p>
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
                </div>
            </div><br/><br/><br/>
            <div class="contents row-3">
                <div class="contents-row1">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                          <div class="card h-100">
                            <img src="img/default_grey2.png" class="card-img-top" alt="content1">
                            <div class="card-body">
                              <h5 class="card-title">여성의 자기탐색과 워크 트렌드 이해</h5>
                              <img src="img/business-pill.png" class="img-fluid rounded-start" alt="contents-1"><br/><br/>
                              <p class="card-price">무료</p>
                              <p class="card-date">2022.07.29 ~ 2022.07.31</p>
                            </div>
                          </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                              <img src="img/default_grey2.png" class="card-img-top" alt="content1">
                              <div class="card-body">
                                <h5 class="card-title">면접 스타일링 컨설팅과 스피치 연습</h5>
                                <img src="img/business-pill.png" class="img-fluid rounded-start" alt="contents-1"><br/><br/>
                                <p class="card-price" style="color:red">유료</p>
                                <p class="card-date">2022.09.02 ~ 2022.09.04</p>
                              </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100">
                                <img src="img/default_grey2.png" class="card-img-top" alt="content1">
                                <div class="card-body">
                                  <h5 class="card-title">적중률 높은 면접질문 도출방법</h5>
                                  <img src="img/business-pill.png" class="img-fluid rounded-start" alt="contents-1"><br/><br/>
                                  <p class="card-price">무료</p>
                                  <p class="card-date">2022.09.09 ~ 2022.09.11</p>
                                </div>
                            </div>
                        </div>
                      </div>
                </div>
                </div>
            </div>
    </div>
</body>
</html>