@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Rubik:wght@500&display=swap');

body {
    background: #EDEDED;
}

header {
    height: 40px;
    padding: 3rem;
    color: black;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    font-family: 'Rubik', sans-serif;
}

.greetings {
    text-align: right;
    font-size: 20px;
}

.mypage-banner {
    text-align: center;
    padding: 3%;
    display: flex;
    justify-content: center;
}

h2 {
    padding-left: 3rem;
    color: black;
    font-weight: bold;
    font-family: 'Do Hyeon', sans-serif;
}

.mypage-contents{
    padding-left: 5rem;
}

.mypage-content-1 {
    width: 100%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    padding: 3rem;
}

.profile {
    float: left;
    width:50%;
    box-sizing: border-box;
    padding-left: 10%;
}

.scheduled-class {
    float: right;
    width:50%;
    box-sizing: border-box;
}

.mypage-content-2 {
    width: 100%;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    padding: 3rem;
}

.my-point {
    float: left;
    width:50%;
    box-sizing: border-box;
    padding-left: 10%;
}

.finished-class {
    float: right;
    width:50%;
    box-sizing: border-box;
}

