<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOM-E: 클래스 신청</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="register-completed.css">
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <header>
        <img src="img/mome-logo.png" alt="logo">
        <div class="greetings">
            <p><strong>김멋사</strong><small>님, 오늘도 즐겁게 학습하세요!</small></p>
        </div>
        <br/><br/><br/>   
        <div class="completed-notice">
            <h1>신청이 완료되었습니다.<br/>클래스 시간이 기다려지네요!</h1>
        </div>
    </header>
    <br/>
    <div class="class-info">
        <br/><br/><br/><br/>
        <h2>신청한 클래스 정보</h2>
        <div class="info-content">
            <div class="card" style="width: 90rem;">
                <div class="card-body">
                  <p><strong>클래스명</strong>ㅤㅤㅤ웹 퍼블리싱 - HTML & CSS 기초부터 응용까지</p>
                  <p><strong>카테고리</strong>ㅤㅤㅤ<img src="img/programming-pill.png"></p>
                  <p><strong>일시</strong>ㅤㅤㅤㅤ 2022.07.29 (금) 19:00 ~ 21:00</p>
                  <p><strong>ㅤㅤ</strong>ㅤㅤㅤㅤ2022.07.30 (토) 18:00 ~ 20:00</p>
                  <p><strong>ㅤㅤ</strong>ㅤㅤㅤㅤ2022.07.31 (일) 17:00 ~ 19:00</p>
                  <p><strong>장소</strong>ㅤㅤㅤㅤ서울시 노원구 화랑로 621 서울여자대학교 50주년기념관</p>
                  <p><strong>수강료</strong>ㅤㅤㅤ 무료</p>
                </div>
            </div>
        </div>
        <br/><br/><br/><br/>
        <div class="buttons">
                <img src="img/return-home.png">ㅤ
                <img src="img/return-mypage.png">
        </div>
        <br/><br/><br/><br/>
    </div>