@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Rubik:wght@500&display=swap');

body {
    background: #EDEDED;
}

header {
    height: 150px;
    padding: 3rem;
    color: black;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    font-family: 'Rubik', sans-serif;
}

.completed-notice {
    text-align: center;
    font-family: 'Do Hyeon', sans-serif;
}

h1 {
    font-family: 'Do Hyeon', sans-serif;
    text-align: center;
}

.greetings {
    text-align: right;
    font-size: 20px;
}

h2 {
    font-family: 'Do Hyeon', sans-serif;
}

.class-info {
    padding-top: 10rem;
    padding-left: 3rem;
}

.buttons {
    text-align: center;
}