<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignUp</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="signup.css" />
  </head>

  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
      crossorigin="anonymous"
    ></script>
    <header>
      <img
        src="img/logo.png"
        alt="logo"
        style="padding-bottom: 2%; padding-top: 2%"
      />
    </header>
    <div>
      <div class="id">아이디</div>
      <div class="id-input">
        <div class="input-group flex-nowrap">
          <input
            type="text"
            class="form-control"
            placeholder="영문 소문자 + 숫자 조합 10자 이내"
            aria-label="Username"
            aria-describedby="addon-wrapping"
          />
        </div>
      </div>
    </div>
    <div>
      <div class="id">비밀번호</div>
      <div class="id-input">
        <div class="input-group flex-nowrap">
          <input
            type="text"
            class="form-control"
            aria-label="Username"
            aria-describedby="addon-wrapping"
          />
        </div>
      </div>
    </div>
    <div>
      <div class="id">비밀번호 재확인</div>
      <div class="id-input">
        <div class="input-group flex-nowrap">
          <input
            type="text"
            class="form-control"
            placeholder="비밀번호를 다시 한 번 입력해 주세요."
            aria-label="Username"
            aria-describedby="addon-wrapping"
          />
        </div>
      </div>
    </div>
    <div>
      <div class="id">이름</div>
      <div class="id-input">
        <div class="input-group flex-nowrap">
          <input
            type="text"
            class="form-control"
            aria-label="Username"
            aria-describedby="addon-wrapping"
          />
        </div>
      </div>
    </div>
    <div>
      <div class="id">주민등록번호</div>
      <div class="num-input">
        <div class="input-group flex-nowrap">
          <input
            type="text"
            class="form-control"
            aria-describedby="addon-wrapping"
          />
        </div>
        -
        <div class="input-group flex-nowrap">
          <input
            type="text"
            class="form-control"
            aria-describedby="addon-wrapping"
          />
        </div>
      </div>
    </div>
    <div>
      <div class="id">생일</div>
      <div class="birth-input">
        <div class="input-group flex-nowrap">
          <input
            type="text"
            class="form-control"
            placeholder="년 (4자)"
            aria-describedby="addon-wrapping"
          />
        </div>
        <div class="input-group flex-nowrap">
          <input
            type="text"
            class="form-control"
            placeholder="월"
            aria-describedby="addon-wrapping"
          />
        </div>
        <div class="input-group flex-nowrap">
          <input
            type="text"
            class="form-control"
            placeholder="일"
            aria-describedby="addon-wrapping"
          />
        </div>
      </div>
    </div>
    <img
      src="img/signup.png"
      style="padding-left: 33rem; padding-top: 2%; cursor: pointer"
    />
  </body>
</html>
